{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Css Of This Page-->
<style>
    footer {
        margin: 50px 0px;
    }

    .product {
        padding: 40px 0px;
        background-color: #f3f2ee;
    }

    .hero__text p {
        color: white;
    }

    .banner__item__text {
        margin-top: -20px;
    }

    #ff{
        width: 100%;
        /* height: 20px; */
    }


    .arrow_left,.arrow_right{
	    color: grey;
    }


    .hero__text h6{ 
       font-weight: bold;
       color: yellow;
       font-size: 17px;
    }
    
    @media only screen and (max-width: 480px) {
        #logo1{
            width: 70%;
        }
        
            .header__nav__option {
            margin: -39px 0px;
        }
        
        .hero__items{
            margin: 20px 0px;
        }
    }
</style>

<!-- WhatsApp Integration -->
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-b4372d93-b6e5-46b4-ba93-4a06617963f7"></div>

<!--Html Code Start From Here-->
<section class="hero" data-interval="500">
    <div class="hero__slider owl-carousel" data-interval="500">
        <div class="hero__items set-bg" data-interval="500" data-setbg="https://images6.alphacoders.com/614/614633.jpg">
            <!-- data-setbg="https://images6.alphacoders.com/614/614633.jpg" -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Awesome Collection</h6>
                            <h2>Best Jerseys For You ...</h2>
                            <p>A specialist jersey store for all your sports needs
                                commitment to exceptional quality.</p>
                            <a href="/product-list" class="primary-btn">Shop now <i class="fa-solid fa-arrow-right fa-lg"></i></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="https://instagram.com/aarambhsportswear?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero__items set-bg" data-interval="500" data-setbg="https://c4.wallpaperflare.com/wallpaper/378/1020/6/cristiano-ronaldo-juventus-soccer-real-madrid-wallpaper-preview.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Awesome Collection</h6>
                            <h2>Best Jerseys For You ...</h2>
                            <p>A specialist jersey store for all your sports needs
                                commitment to exceptional quality.</p>
                            <a href="/product-list" class="primary-btn">Shop now <i class="fa-solid fa-arrow-right fa-lg"></i></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="https://instagram.com/aarambhsportswear?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="https://pbs.twimg.com/media/Ff_rF9NaYAA5rpL?format=jpg&name=large">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Awesome Collection</h6>
                            <h2>Best Jerseys For You ...</h2>
                            <p>A specialist jersey store for all your sports needs
                                commitment to exceptional quality.</p>
                            <a href="/product-list" class="primary-btn">Shop now <i class="fa-solid fa-arrow-right fa-lg"></i></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="https://instagram.com/aarambhsportswear?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img class="bannerpic" src="https://cdn.shopify.com/s/files/1/0616/3709/9705/files/Manchester_City_home_160x160@2x.webp?v=1656503040"
                            alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Jersey Collections</h2>
                        <a href="/product-list" style="text-decoration: none;">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="https://media.istockphoto.com/id/182790712/photo/soccer-jerseys.jpg?s=612x612&w=0&k=20&c=rQVy-ENttTIJhzPeRA4Oq0Ds9tkmOen9q_YIsNlSXdE="
                            alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Accessories</h2>
                        <a href="/product-list" style="text-decoration: none;">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="https://static.toiimg.com/thumb/msid-85553864,width-400,resizemode-4/85553864.jpg"
                            alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Awesome Collections</h2>
                        <a href="/product-list" style="text-decoration: none;">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- <section>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img class="pic-1" src="images/img-1.jpg">
                    <img class="pic-2" src="images/img-2.jpg">
                </a>
                <ul class="product-links">
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="far fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-random"></i></a></li>
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
            <div class="product-content">
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="far fa-star"></li>
                </ul>
                <h3 class="title"><a href="#">Women's Blouse Top</a></h3>
                <div class="price">$85.55</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <a href="/product/{{product.slug}}/{{product.id}}"><img class="product__item__pic set-bg  " src="/media/{{product.productattribute_set.first.image}}" class="card-img-top" alt="{{product.title|truncatewords:3 }}"></a>
                    <img class="pic-2" src="images/img-4.jpg">
                </a>
                <ul class="product-links">
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="far fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-random"></i></a></li>
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
            <div class="product-content">
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="far fa-star"></li>
                    <li class="far fa-star"></li>
                </ul>
                <h3 class="title"><a href="#">Men's Jacket</a></h3>
                <div class="price">$88.88</div>
            </div>
        </div>
    </div>
</div>
</section> -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
       <h2 class=" text-center mb-3">New Arrivals</h2>
        <div class="row product__filter">
            
          {% for product in data %}
          <div class="col-md-4 mb-4">
            <div class="card shadow product__item sale">
              <a href="/product/{{product.slug}}/{{product.id}}"><img class="mr-8 product__item__pic set-bg  " src="/media/{{product.productattribute_set.first.image}}" class="card-img-top mr-6" alt="{{product.title|truncatewords:12 }}"></a>
              <div class="card-body">
                <h5 class="card-text"><a style="color: black;font-size: 15px;font-weight: bold;" href="/product/{{product.slug}}/{{product.id}}">{{product.title|truncatewords:10 }}</a></h5>
                <h6>₹ <span style="color: green; font-weight: 400;" class="product-price-{{product.id}}">{{product.productattribute_set.first.price}}</span></h6>
              </div>
              <div class="card-footer">
                {{product.productattribute_set.first.color.title}}
                <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
                <input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image}}" />
                <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
                <button class="btn btn-sm btn add-to-cart" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i></button>
                
                {% if user.is_authenticated %}
                <button class="btn btn-outline-dark btn-sm add-wishlist" data-product="{{product.id}}"><i class="fa fa-heart"></i></button>
                {% else %}
                <button class="btn btn-sm  btn-outline-dark"><i class="fa fa-heart"></i></button>
                {% endif %}
                <span class="float-right">
                  4.5/5
                  <i class="fa fa-star text-warning"></i>
                </span>
              </div>
            </div>
          </div>
          {% endfor %}
         

                {% comment %} {% for product in data %}
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix <%=Product.selling_strategy%>">
                      <a href="/product/{{product.slug}}/{{product.id}}">
                        <div class="product__item sale">

                            <div class="product__item__pic set-bg" data-setbg="/media/{{product.productattribute_set.first.image}}" class="card-img-top" alt="{{product.title}}">
                              <span class="label">{{product.title}}</span>
                            </div>
                            <div class="product__item__text">
                                <h6>{{product.title}}</h6>
                                <form action="/addtocart" method="post">
                                  <input type="hidden" name="id" value="<%= Product.id%>">
                                  <button type="submit"  >+ Add To Cart</button>
                                </form>
                                <div class="rating">
                                  <i class="fa  fa-star"></i>
                                  <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                   
                                    <a class="viewpro float-sm-right" href="/product/{{product.slug}}/{{product.id}}" role="button">Visit Product</a>
                                  </div>
                                <h5>₹{{product.productattribute_set.first.price}}</h5>
                              </div>
                            </div>
                          </a>
                          </div>
                    {%endfor%} {% endcomment %}

                    
                    
                  </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<!-- <section class="categories spad">
<div class="container">
<div class="row">
<div class="col-lg-3">
<div class="categories__text">
    <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
</div>
</div>
<div class="col-lg-4">
<div class="categories__hot__deal">
    <img src="img/product-sale.png" alt="">
    <div class="hot__deal__sticker">
        <span>Sale Of</span>
        <h5>₹29.99</h5>
    </div>
</div>
</div>
<div class="col-lg-4 offset-lg-1">
<div class="categories__deal__countdown">
    <span>Deal Of The Week</span>
    <h2>Multi-pocket Chest Bag Black</h2>
    <div class="categories__deal__countdown__timer" id="countdown">
        <div class="cd-item">
            <span>3</span>
            <p>Days</p>
        </div>
        <div class="cd-item">
            <span>1</span>
            <p>Hours</p>
        </div>
        <div class="cd-item">
            <span>50</span>
            <p>Minutes</p>
        </div>
        <div class="cd-item">
            <span>18</span>
            <p>Seconds</p>
        </div>
    </div>
    <a href="#" class="primary-btn">Shop now</a>
</div>
</div>
</div>
</div>
</section> -->
<!-- Categories Section End -->

<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg"
                        data-setbg="https://c4.wallpaperflare.com/wallpaper/631/334/425/cristiano-ronaldo-real-madrid-sport-soccer-wallpaper-preview.jpg"></div>
                    <div class="instagram__pic__item set-bg"
                        data-setbg="https://thumblr.uniid.it/base_navigation_item/13/906f6843a375.jpg"></div>
                    <div class="instagram__pic__item set-bg"
                        data-setbg="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-enXHbaqLRKtyt94BiyIepR2wjb-TFWzmTA&usqp=CAU"></div>
                    <div class="instagram__pic__item set-bg"
                        data-setbg="https://www.si.com/.image/c_fit%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_620/MTg0OTc3NTU2NTkwNTY4OTM1/bostonceltics_final_105563.jpg"></div>
                    <div class="instagram__pic__item set-bg"
                        data-setbg="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ijJW.IogaCF0/v1/1200x-1.jpg"></div>
                    <div class="instagram__pic__item set-bg"
                        data-setbg="https://cdn.shopify.com/s/files/1/0440/1931/8942/collections/barcelona-2020-pre-match-shirt_420x.jpg?v=1629397423U"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <div class="insta-icon">
                    <h1 class="insta mr-2"><a class=" insta mr-2" href="https://instagram.com/aarambhsportswear?igshid=YmMyMTA2M2Y=" target="_blank" style="text-decoration: none;"><i class="fa fa-instagram"></i> Click Here</h1></a>
                    </div>
                    <!-- <h3>AARAMBH SPORTS</h3> -->
                    <a href="/"class="navbar-brand" href="#"><img id="logo1" src="https://i.ibb.co/YtX6qYd/logo2.png"  alt="logo"></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

